
/* Card  */
.student-card > div > p{
    margin-bottom:0;
}

.card-del{
    margin:0 50%;
    cursor:pointer;
    display:inline-block;
}

/* Card list */
.card-list{
    width:100%;
    height:100%;
    padding:0 20px;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap:5px;
}

/* Form  */
.form-container{
    width:100%;
    margin-bottom:30px;
    padding:30px 20px;
    display:flex;
    justify-content: start;
    background:rgb(182, 170, 255);
}

.form{
    width:500px;
    display:flex;
    flex-direction:column;
}

.form > label{
    display:inline;
    margin:5px 0;
    color:#f2ebff;
}

.form > input{
    display:inline;
    height:25px;
    width:100%;
    padding:4px;
    font-size:18px;
    outline:none;
}

.form > input#age{
    width:80px;
}

.form > .btn{
    background:rgb(115, 1, 167);
    border-radius:0;
    color:#f2ebff;
}

.form > .btn:hover{
    background:rgb(172, 33, 236);
    color:#f2ebff;
}