
/* Card  */
.student-card > div > p{
    margin-bottom:0;
}

/* Card list */
.card-list{
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap:5px;
}

/* Form  */
.form-container{
    width:100%;
    margin-bottom:30px;
    padding:30px 0;
    display:flex;
    justify-content: center;
}

.form{
    width:500px;
    display:flex;
    flex-direction:column;
}

.form > label{
    margin:5px 0;
}

.form > label > input{
    height:22px;
    width:100%;
    padding:4px;
    font-size:18px;
}